.cover__description {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
}

/* вертикальный телефон 0 - 767 */
@media screen and (max-width: 767px) {
  .cover__description {
    font-size: 14px;
    line-height: 16px;
  }
}