.lead__figcaption {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  padding: 0;
}
/* вертикальный планшет 768 - 1023 */
@media screen and (max-width: 1023px) {
  .lead__figcaption {
    margin: 8px 0 0 24px;
  }
}
/* вертикальный телефон 0 - 767 */
@media screen and (max-width: 767px) {
  .lead__figcaption {
    margin: 8px 0 0 16px;
  }
}