.cover {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px ;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* вертикальный планшет 768 - 1023 */
@media screen and (max-width: 1023px){
  .cover {
    margin: 0 auto 88px ;
  }
}

/* вертикальный телефон 0 - 767 */
@media screen and (max-width: 767px) {
  .cover {
    margin: 0 auto 64px ;
  }
}